.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: white;
    background-color: #050f33;
  }
  
  .left-icons,
  .right-icons {
    display: flex;
    align-items: center;
  }
  
  .right-icons {
    gap: 20px;
  }
  
  /* Add media queries for responsiveness */
  @media screen and (max-width: 768px) {

    .left-icons,
    .right-icons {
      margin: 10px 0;
    }
  }
  .phone-number {
    margin-left: 10px;
    font-size: 14px;
  }  