.address-right
{
    border: 1px solid lightblue;
    margin-top: 20px;
    background-color: white;
    border-radius: 12px;
}
.address-right h5{
    
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}
.address-right p{
    text-align: left;
    color: black;
    font-weight: 350;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.address-main
{
    border: 1px solid black;
    margin-top: 20px;
    border: 1px solid lightblue;
    border-radius: 12px;
    
}
.address-main h4{
    margin-top: 30px;
    margin-left: 10px;
}
.address-list
{
    list-style-type:none;
    justify-content: space-between;
    margin-bottom: 10px;
}
.address-list  input{
    border-top: none;
    border-left: none;
    border-right: none;
    
    background-color: transparent;
    margin-left: 10px;

}
.address-list li
{
    margin-bottom: 20px;
}
.address-proceed
{
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: #02b9b1;
}